body #reka {
    direction: rtl;
    background-image: url("IMG_20160119_171624.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: fixed;
    transform: rotate(180deg);
}

div#container {
    transform: rotate(180deg);
    position: absolute;
    margin-right: 1000px;
    margin-top: 100px
}

    div#container h1 {
        font-size: 70px;
        background-color: #e6e3e387;
        width: 270px;
        border-radius: 10px;
        font-family: sans-serif;
        padding-right: 30px;
    }

    div#container #inside {
        font-size: 10px;
        background-color: #e6e3e387;
        width: 270px;
        border-radius: 10px;
        font-family: sans-serif;
        padding-right: 30px;
    }

div#comunicate {
    font-size: 10px;
    background-color: #e6e3e387;
    width: 285px;
    border-radius: 10px;
    font-family: sans-serif;
    padding: 1px;
    padding-right: 15px;
}


div#container {
    font-size: 20px;
    background-color: #e4dede82;
    width: 320px;
    height: 490px;
    border-radius: 10px;
    padding-right: 20px;
}


div#comunicate a {
    padding-right: 35px;
}

#container:hover {
    background-color: #ffffffbd;
    -webkit-transition: background 5s ease;
    -moz-transition: background 2s ease;
    -ms-transition: background 2s ease;
    -o-transition: background 2s ease;
    transition: background 2s ease;
    box-shadow: 10px 10px 8px #8184887a;
    -webkit-transition: outline 2s ease;
    -moz-transition: outline 2s ease;
    -ms-transition: outline 2s ease;
    -o-transition: outline 2s ease;
    transition: outline 2s ease;
}

#comunicate:hover {
    background-color: white;
    -webkit-transition: background 1s ease;
    -moz-transition: background 2s ease;
    -ms-transition: background 2s ease;
    -o-transition: background 2s ease;
    transition: background 2s ease;
}

#container:hover h1 {
    background-color: white;
    -webkit-transition: background 1s ease;
    -moz-transition: background 2s ease;
    -ms-transition: background 2s ease;
    -o-transition: background 2s ease;
    transition: background 2s ease;
}

#container #inside:hover {
    background-color: white;
    -webkit-transition: background 1s ease;
    -moz-transition: background 2s ease;
    -ms-transition: background 2s ease;
    -o-transition: background 2s ease;
    transition: background 2s ease;
}


